{% extends "base.html" %}
{% block content %}

<div class="card p-4 mx-auto" style="max-width:500px;">
<h4 class="text-center mb-3">Book Appointment</h4>

<form method="POST">

  <label>Doctor</label>
  
  <select name="doctor_id" class="form-select mb-3" required>
    {% for d in doctors %}
    <option value="{{ d.id }}">Dr. {{ d.fullname }}</option>
    {% endfor %}
  </select>

  <label>Date</label>
  <input type="date" name="appointment_date" class="form-control mb-3" required>

  <label>Time</label>
  <div class="d-flex gap-2 mb-3">
    <input type="text" name="appointment_time" placeholder="HH:MM" class="form-control" required>
    <select name="am_pm" class="form-select" required>
      <option>AM</option>
      <option>PM</option>
    </select>
  </div>

  <button class="btn btn-success w-100">
    Confirm Appointment
  </button>

</form>
</div>

{% endblock %}
